---
:hierarchy:
  # Use private hieradata first. Align naming with ansible so that the private
  # data can exist in a single copy for both ansible and puppet
  - "hieradata/%{::environment}/host_vars/%{::fqdn}"
  - "hieradata/%{::environment}/group_vars/%{group}" # no :: because group is set at nodescope
  - "hieradata/%{::environment}/group_vars/all"
  # Use public hieradata second, also be environmentally aware. Keep this
  # in the old structure so that we don't have to do a dance. There isn't much
  # here, and it can be transferred piecemeal.
  - "%{::environment}/hiera/fqdn/%{::fqdn}"
  - "%{::environment}/hiera/group/%{group}" # no :: because group is set at nodescope
  - "%{::environment}/hiera/common"
:backends:
  - yaml
:yaml:
  :datadir: "{{ puppet_hiera_datadir }}"
